{% extends 'base.html' %}
{% block content %}
    <p>Nickname:{{ object.user.username }}</p>
    <p>First name:{{ object.user.first_name }}</p>
    <p>Last name:{{ object.user.last_name }}</p>
    <p>Signed up:{{ object.created_at }}</p>
{% endblock %}