{#{% extends 'base.html' %}#}

{% block header %}
    <header>
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'home' %}">CodeNote</a>
                    </div>

                    {% comment %}                <form id="nav-search" class="navbar-form navbar-right" role="search">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </form>{% endcomment %}
                    <div class="row">
                        <div class="col-xs-4 navbar-right">
                            {% if user.is_authenticated %}
                                <a href={% url 'logout' %}>
                                    <button class="btn btn-success navbar-btn" type="button">Sign out</button>
                                </a>
                                <a href="{% url 'profile' pk=user.author.id %}" id="username">{{ user.username }}</a>
                            {% else %}
                                <a href={% url 'login' %}>
                                    <button class="btn btn-success navbar-btn" type="button">Sign in</button>
                                </a>
                                <a href={% url 'signup' %}>
                                    <button class="btn btn-success navbar-btn" type="button">Sign up</button>
                                </a>
                            {% endif %}
                            <form class="navbar-form navbar-left" role="search" action="{% url 'home' %}" method="get">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}