{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <a href="{% url 'note_create' %}">Create note</a>
    <ul>
        {% for note in object_list %}
            <li><a href="/note/{{ note.pk }}">{{ note.title }}</a>
                <text>{{ note.comment_set.count }} comments</text>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <text>{{ note.get_likes }}</text>
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <text>{{ note.get_dislikes }}</text>
            </li>
        {% empty %}
            <li>No notes yet</li>
        {% endfor %}
    </ul>
{% endblock %}