{% extends 'base.html' %}
{% block content %}
    <h1>{{ object.title }}</h1>
    <pre>{{ object.code }}</pre>
    {% for keyword in keywords %}
        <a href="{% url 'home' %}?kw={{ keyword | urlencode }}">#{{ keyword }} </a>
    {% endfor %}
    <ul>
        {% for comment in object.comment_set.all %}
            <li>
                <a href="{{ comment.author.get_absolute_url }}">{{ comment.author.user.first_name | title }} {{ comment.author.user.last_name | title }}</a>:{{ comment.text }}
            </li>
        {% endfor %}
    </ul>

    <span class="likes">
        <button type="button" class="btn btn-default btn-lg like">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <text>{{ likes.count }}</text>
        </button>
        <button type="button" class="btn btn-default btn-lg dislike">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            <text>{{ dislikes.count }}</text>
        </button>
    </span>
    <form action="{% url 'comment' pk=object.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="Send comment">
    </form>
{% endblock %}